.git
.DS_Store
node_modules/
vendor/
public/build/ 
public/hot    
npm-debug.log*
yarn-error.log
storage/logs/*.log
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/data/*
pdf_python/venv